body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#container {
    background: #efefef;
    margin: 100px auto 0;
    padding: 30px 30px 20px;
    width: 550px;
}

h1 {
    text-align: center;
}

.tweet {
    background: #cacaca;
    margin: 50px auto 0;
    padding: 10px 10px 0px;
    width: 450px;
    border: solid thin;    
}

.img {
    float: left;
    border: groove;
    width: 50px;
}

.content {
    float: left;
    margin-left: 15px;
    width: 315px;
}

p.user_name{
    margin:0px;
}

.user_name a{
    color: #404040;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: 0066ff;
}

a:hover {
    color: #0066cc;
}

a:active{ 
    color: #003399;
}

span.user {
    font-weight: bold; 
}

span.at_user{
    font-size: 12px;
    font-style: italic;
}

.time {
    float: left;
    width:50px;
    color: #686868;
    font-size: 12px;
    padding-left: 10px;
}

#clear{
    clear: both;
}
